.places__heart {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/mobile/heart.png);
    transition: 0.2s;
    cursor: pointer;
  }
  
  .places__heart:hover {
    opacity: 0.6;
  }